/* body */

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

*,
:before,
:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 53%;
  }
}

@media only screen and (max-width: 31.25em) {
  html {
    font-size: 45%;
  }
}

body {
  color: #ffffff;
  /* min-height: calc(100vh - 8vw); */
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
}

/* NAVBAR */
.nav {
  position: fixed;
  padding: 2% 2% 2% 0;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  background-color: blue;
  width: 100%;
}
.nav__d1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}
.nav__d2 {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}
.nav__d2--btn {
  white-space: nowrap;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 2% 3%;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 3rem;
}
.nav__d1--link {
  white-space: nowrap;
  font-size: 1.7rem;
}
.nav__d1--logo {
  width: 8%;
}

/* section 1 */
.sec1 {
  padding-top: 9%;
}
.sec1__main {
  background-image: url(/images/background\ section\ 1.png);

  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  padding: 3% 6% 0 3%;

  width: 100%;
}
.sec1__div1 {
  width: 80%;
}
.sec1__div1--img {
  width: 95%;
}
.sec1__div2 {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%;
}

.sec1__div2--btn {
  white-space: nowrap;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 2% 3%;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 3rem;
}
.sec1__div2--p {
  font-size: 2rem;
  text-align: center;
}

/* section 2 */

.sec2__main {
  text-align: center;
  background-color: black;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  padding: 2% 18%;
  padding-bottom: 0;
}

.sec2__div2--cards {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
}
.sec2__div2--p {
  font-size: 0.7rem;
}
.sec2__div2--img {
  width: 100%;
}
/* section 3 */
.sec3 {
  /* padding: 3%;
  background-color: blue; */
}
.sec3__main {
  padding: 3%;
  background-color: blue;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;

  align-items: center;
}
.sec3__div1 {
}
.sec3__div2 {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec3__div2--img {
  width: 80%;
}
.sec3__div2--h1 {
  font-weight: 800;
  font-size: 2rem;
}
.sec3__div2--btn {
  white-space: nowrap;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 2% 3%;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 3rem;
}

/* section 4 */
.sec4 {
  display: flex;
  padding: 3% 2% 3% 0;
  /* align-items: center; */
  background-color: rgb(10, 35, 160);
}
.sec4__div1 {
  background-color: rgb(10, 35, 160);
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sec4__div2 {
  background-image: url(/images/sec3\ div2\ bg.jpeg);
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
.promotion__video {
  width: 90%;
}

.sec4__div2--img {
  width: 45%;
}
/* section 5 */

.sec5 {
  display: flex;
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 2%;
  background-color: rgb(59, 59, 238);
}
.sec5__div1 {
  display: flex;

  flex-direction: column;
  /* align-items: center; */
  width: 45%;
  /* padding-left: 6%; */

  /* align-items: end; */
  justify-content: space-between;
}
.sec5__div1--img1 {
  width: 60%;
}
.sec5__div1--img2 {
  width: 60%;
}
/* section 6  */
.sec6 {
  /* height: 500%; */
}

.sec6--vid {
  width: 100%;
  height: 750px;
}
/* section 7 */

.sec7 {
  display: flex;
  justify-content: center;
  padding-top: 3%;
  background-color: blue;
}
.sec7__img1 {
  width: 55%;
}
.sec7__img2 {
  width: 30%;
  padding: 10% 0;
}

/* section 8 */

.sec8 {
  width: 100%;
  background-color: darkblue;
  display: flex;
  padding: 2%;
  align-items: center;
  justify-content: center;
}
.sec8__div1 {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sec8__div1--btn {
  white-space: nowrap;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 2% 3%;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 3rem;
}
.sec8__div1--p1,
.sec8__div1--p2,
.sec8__div1--p3 {
  font-size: 5rem;
  font-weight: 800;
}
.sec8__div1--p4 {
  font-size: 2rem;
  padding-bottom: 10%;
}

/* section 9 */
.sec9 {
  text-align: center;
}
.sec9__div1--p {
  color: blue;
  /* text-align: center; */
  font-size: 5rem;
  font-weight: 800;
}
.sec9__div2 {
  text-align: center;
}
.sec9__div2--img {
  width: 18%;
}

footer {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 2%;
}
.footer__div3 {
  display: flex;
  justify-content: space-between;
  width: 25%;
  /* justify-content: end; */
  padding: 0 6%;
}
.footer__div3--logos {
  width: 15%;
}
.footer__div1 {
  width: 25%;
}
.footer__div2 {
  width: 50%;
}
.footer__div1--logo {
  width: 30%;
}
.footer__div2 {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.footer__div2--p {
  font-size: 1.4rem;
}























/* ////////////////////////////////////////////////////////////////// */

/* responsiveness section */

/* section 1 */
/* @media screen {
  
} */
@media (max-width:600px){
.sec1__main,.sec3__main,.sec7{
  
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
  
  justify-content: center;
  align-items: center;
}

.sec2__main,.sec8{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}










}